$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

// Colors
$borderGray: #cfcfcf;
$black: #000000;
$primary: #3366ff;

// Input colors
$inputBackground: #ededf1;
$inputPlaceholder: #8e90a6;
